body {
  margin: 0;
  padding: 0;
  background: #403F4D;
  color: #FBFAFB;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: lighter;
}
body #app {
  position: relative;
  margin: 40px auto;
  width: 550px;
}
.date {
  background: #bbb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 40px 0;
  font-size: 24px;
}
.date .calendar {
  display: flex;
  align-items: center;
}
.date .calendar .day {
  font-size: 64px;
  font-weight: bold;
}
.date .calendar .my {
  padding: 0 0 0 5px;
}
.date .calendar .my .month {
  font-weight: bold;
}
