@import "../styles/variables";

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 40px 0;
  font-size: $heading-font-size;
  .calendar {
    display: flex;
    align-items: center;
    .day {
      font-size: $big-font-size;
      font-weight: bold;
    }
    .my {
      padding: 0 0 0 5px;
      .month {
        font-weight: bold;
      }
    }
  }
}
