.form-controls {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.drag {
  width: 700px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
}

.form-ctrls-item {
  margin: 25px 10px;
  user-select: none;
  cursor: pointer;
}

#close {
  width: 18px;
  height: 18px;
  backgro und: no-repeat url('assets/close_form.svg');
}

#minimize {
  width: 18px;
  height: 18px;
  background: no-repeat url('assets/mini_form.svg');
}
