.reset {
  text-align: center;
  button {
    background: transparent;
    border: none;
    color: @font-color;
    cursor: pointer;
    font-size: @item-font-size;
    animation: fadeIn 1s;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
