@bg: #403F4D;
@green: #62DCA5;
@yellow: #F7F879;
@red: #E1675A;

@input-color: #2E2D33;
@item-color: #4E4D5C;
@font-color: #FBFAFB;

@big-font-size: 64px;
@heading-font-size: 24px;
@item-font-size: 20px;

@keyframes click {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    width: 30px;
    height: 30px;
  }
}
